.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
  text-align: center;
}

.App-container {
  margin: 5.5rem 0 4rem 0;
  width: min(1200px, 90%);
}

.App-copy-heading {
  font-size: 1.75rem;
  font-weight: var(--bold);
  line-height: 36px;
  letter-spacing: -0.29px;
  margin-bottom: 1rem;
}

.App-copy-main {
  font-weight: var(--medium);
  line-height: 26px;
  padding: 0.5em 0.5em;
}

.App-copy-container {
  margin-bottom: 4rem;
}

.App-blue-rectangle {
  background-color: var(--color-accent-blue);
  border-radius: 10px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.14688);
  margin-bottom: 1.5rem;
  padding: 1.125em 4em;
}

.App-blue-rect-text {
  font-size: 0.9375;
  font-weight: var(--regular);
  line-height: 26px;
  letter-spacing: 0.27px;
}

.App-blue-rect-text span {
  font-weight: var(--bold);
}

/* Media Queries */
@media (min-width: 900px) {
  .App-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .App-col-left {
    width: 525px;
  }

  .App-copy-container {
    text-align: left;
    width: 100%;
  }

  .App-copy-heading {
    font-size: 3.125rem;
    line-height: 55px;
    letter-spacing: -0.52px;
  }

  .App-col-right {
    width: 540px;
  }
}
